{{!< default}}
<div class="container center-style">
	<div class="jumbotron"><!--<img src="/images/logo.svg" width="160">-->
		<h1 style="font-family: Lobster">Welcome to PhoenixHub!</h1>
		<p>This site is currently under construction.</p>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</div>
