<!-- views/pages/news.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Welcome to the NEWS page!</h1>
        <p>Now we just need some content...</p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
