// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap"

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/_variables"


// Site Styles
// ===========

// Add your own site style includes here
@import "site/_layout"

.body-style
  //background-image url('../images/bg-thunderstorm.jpg')
  background-color #7875A6
  //background-size cover
  //background-repeat: no-repeat;
  text-align center

.center-style
  box-shadow 0 3px 5px rgba(0,0,0,.1)
  background-color #DFDFDF
  padding 1%

.club-cards
  a:hover, a:active
    opacity: 0.5
